@import './settings.scss';

.title-flex {
    display: flex;
    justify-content: space-between;
    height: 100vh;

    @media (max-width: $desktopBreakpoint) {
        flex-direction: column;
        justify-content: flex-start;
        overflow-x: hidden;
        height: unset;
        padding-bottom: 5rem;
    }
}

.title-block {
    width: 100%;
    
    min-height: 50rem;
    margin-top: 35vh;

    @media (max-width: $desktopBreakpoint) {
        margin: 5rem 0 5rem 0;
        min-height: auto;
    }
}

.title {
    font-family: $sans;
    font-weight: $regular;
    font-size: $xlarge;
    margin: 0 0 0 5rem;
    span {
        font-size: $xxlarge;
    }

    @media (max-width: $desktopBreakpoint) {
        margin: 0 0 0 0;
    }
}

.content-block {
    width: 70%;

    @media (max-width: $desktopBreakpoint) {
        width: 95%;
    }
}

.content {
    font-size: $small;

    a {
        color: $white;
        font-weight: $semibold;
        &:hover {
            color: $blue;
        }
    }
}

.title-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;

    @media (max-width: $desktopBreakpoint) {
        padding: 0;
    }
}

.svg-container {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 300px;
    width: 300px;
    animation: rotation 25s infinite linear;
    // border: 1px solid greenyellow;
    z-index: 0;

    a {
        &:hover {
            fill: $invert-blue;
        }
        text-decoration: none;
        
    }

    svg {
        filter: invert(1);
        // background: $white;
        // border: 1px solid greenyellow;
        position: relative;
        left: 0;
        top: 0;
    }

    @media (max-width: $desktopBreakpoint) {
        width: 250px;
        height: 250px;
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.email {
    // margin-left: 20rem !important;
    margin-bottom: -0.5rem !important;
}

.arrow {
    filter: invert(1);
    // transform: scale(0.15, 0.17);
    margin-top: 13rem;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    stroke: $black;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    &:hover {
        stroke: $invert-blue;
    }

    @media (max-width: $desktopBreakpoint) {
        width: 7rem;
        height: 7rem;
        margin: 6rem 0 0 0;
        display: none;
    }

}