@import url("https://use.typekit.net/ogr0nls.css");
@import url("https://use.typekit.net/ogr0nls.css");

// Colours

$white: #ffffff;
$black: #000000;
$light-grey: #cccccc;
$blue: #408DFA;
$invert-blue: #fa8a40;


//Font Sizes

$xxxlarge: 7rem;
$xxlarge: 5rem;
$xlarge: 4rem;
$large: 3rem;
$small: 2.5rem;
$msmall: 1.8rem;
$xsmall: 1.4rem;


// Font Weights

$light: 200;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;


// Fonts
$serif: latino-urw, serif;
$sans: canada-type-gibson, sans-serif;

$desktopBreakpoint: 45rem;
